.link-btn {
  border: none;
  padding: 5px 10px;
  font-size: inherit;
  position: relative;
  &::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: $color-third-dark-1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    mix-blend-mode: difference;
    letter-spacing: 0.5rem;
    &:hover {
      color: white;
      mix-blend-mode: difference;
    }
  }
  &:hover {
    &::before {
      background: $color-third-dark-1;
      width: 100%;
    }
  }

  &--rounded {
    border-radius: 50px;
    &::before {
      border-radius: 50px;
      width: 45%;
      background: $color-third-dark-1;
    }
    &:hover {
      &::before {
        background: $color-third-dark-1;
        width: 100%;
      }
    }
  }
  &--width {
    &::before {
      width: 58%;
    }
  }
}
